@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/img/JoelHilton.jpeg" />
</div>

<div class="text-center" style="display: grid; place-items: center; margin-top: 20px;">
    <div style="max-width: 600px; display: grid; grid-template-columns: 1fr 1fr; gap: 18px;">
        <a asp-action="Collection" class="btn btn-light">View Collection</a>
        <a asp-action="MovieForm" class="btn btn-light">Add a New Movie</a>
    </div>
</div>
